Django >=5.2
Pillow
django-allauth[socialaccount]
django-allauth-ui
django-widgets-tweaks
dj-database-url
python-decouple
django-unfold
django-import-export[all]
razorpay
gunicorn
whitenoise
psycopg[binary,pool]
setuptools
django-allauth
django-import_export
requests
jwt