{% extends "main.html" %} {% load i18n %} {% load allauth %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/third_login.css' %}" />
{% endblock head %} {% block head_title %} {% trans "Sign In" %} {% endblock
head_title %} {% block content %}
<div class="social-login-container">
  <div class="social-login-box">
    {% if process == "connect" %}
    <div class="provider-icon">
      <svg viewBox="0 0 24 24" width="48" height="48">
        <path fill="#4285f4" d="..." />
      </svg>
    </div>

    <h1>
      {% blocktrans with provider=provider.name %} Connect {{ provider }} {%
      endblocktrans %}
    </h1>

    <p class="description">
      {% blocktrans with provider=provider.name %} You are about to connect a
      new third-party account from {{ provider }}. {% endblocktrans %}
    </p>

    {% else %}
    <div class="provider-icon">
      <svg viewBox="0 0 24 24" width="48" height="48">
        <path fill="#4285f4" d="..." />
      </svg>
    </div>

    <h1>
      {% blocktrans with provider=provider.name %} Sign In via {{ provider }} {%
      endblocktrans %}
    </h1>


        <a href="{% url 'account_login' %}" class="back-link">
            {% trans "Back to Login" %}
        </a>
    </div>
</div>
 
{% endblock content %}
